/* Importar fonte Nunito */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Importar fonte Nunito */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-color-01: rebeccapurple;
  --main-color-02: maroon;
  --text-color-01: rosybrown;
  --text-color-02: thistle;
  --text-color-03: wheat;
  --bg-color-01: snow; /* Background 1*/
  --bg-color-02: oldlace;
  --color-00: #0000001a;


/* Extra */

  --color-01: whitesmoke;
  --color-02: lightpink;
  --color-03: linen;
  --color-04: cornsilk;
  --color-05: seashell;
}

/* Reset Css */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-01);
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-weight: 200%;
}

p, a {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: var(--color-01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: solid 1px var(--color-04);
}

.logo {
  font-size: 1.7rem;
  color: var(--text-color-01);
  font-weight: 600;
  cursor: default;
}

.nav a {
  font-size: 1.2rem;
  color: var(--text-color-01);
  padding: 0.5rem 1rem;
  transition: 0.4s;

  border: solid 1px var(--color-04); /* Teste */
  
  font-family: "Nunito", serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100%;
}

.nav a:hover {
  color: var(--main-color-01);
}

section {
  min-height: 100vh;
  padding: 6rem 6rem 2rem;

  border: solid 1px var(--color-04); /* Teste */
}

span {
  color: var(--main-color-02);
}

.btn {
  color: var(--main-color-02);
}

.bxl-whatsapp-square {
  color: lightgreen; /* ou lime */
}

.bxl-linkedin-square {
  color: mediumblue;
}