/* Fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /*400*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); /*700*/
/* Fonte Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,900&display=swap'); /*900*/
/* Fonte Ubuntu Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:wght@600&display=swap'); /*600*/

/*TODO Revisar essas classes e ver se não tem alguma desnecessária e limpar o código*/
/* Reset-CSS */ 
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  will-change: transform;
  color: #F5F5F5;
} 

body {
  background: #1e1e2f;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

p,
a {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: #262639;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 1rem black;
}

.logo {
  font-size: 1.7rem;
  color: #00ffcc;
  cursor: default;
}

.nav {
  padding-right: 1rem;
  padding-bottom: .1rem;
}

.nav-responsive {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  backdrop-filter: blur(0px);
  transition: backdrop-filter 1s ease;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-responsive.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  backdrop-filter: blur(14px);
}

.nav a,
.nav-responsive a {
  font-size: 1.2rem;
  color: #00ffcc;
  padding: 0.5rem 1.6rem;
  transition: 0.4s;
  transition-delay: 0.1s;

  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 150%;
}

.nav-responsive a {
  color: white;
}

.nav a:hover {
  color: #eceff4;
  /*text-shadow: #558abb 2px 5px; --> outra opção*/
   text-shadow: 5px 5px 5px black;
}

.nav-responsive a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  height: 100%;
  width: 100vw;
}

.home, .portfolio {
  min-height: 90vh;
  margin-bottom: 8rem;
}

.experiences {
  margin-bottom: 6.9rem;
}

section {
  scroll-margin-top: 5rem;
  padding: 1rem 5rem 0 5rem;
}

span {
  color: rgb(220, 20, 60);
  -webkit-text-stroke: 0.1px black;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.home-img img { /*FIXME Colocar a imagem mais pro lado direito para 
                as palavras ficarem melhor*/
  width: 80%;
  height: 80vh;
  object-fit: cover;
}

.experiences-box img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 25vh;
}

.experiences-container:nth-child(2) .experiences-box img {
  width: 17vw;
  height: 40vh;
  margin-bottom: 0.5rem;
}

.experiences-container:nth-child(3) .experiences-box img {
  width: 15vw;
}

.home-content {
  width: 45%;
}

.home-content h1 {
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3 {
  font-weight: 700;
  font-size: 1.6rem;
}


.home-content p {
  margin-top: 2.2rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 1rem;
  padding-left: .4rem; 
}

.experiences h2,
.portfolio h2,
.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.experiences-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.experiences-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.experiences-container .experiences-box {
  flex: 1;

  padding: 1rem 1rem;
  border-radius: 1.2rem;
  text-align: center;
  border: outset 0.2rem rgba(119, 119, 119, 0.5);
  background-color: whitesmoke;
  transition: 0.5s ease;
}

.experiences-container .experiences-box:hover {
  border-color: rgb(94, 0, 0);
  transform: scale(1.03);
}

.experiences-box h3 {
  font-size: 1.5rem;
  color: black;
}

.experiences-box p {
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  color: black;

  /* Para esconder e agrupar as linhas no Leia mais */
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Botões */

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: rgba(128, 0, 0, 0.9);
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.btn:hover {
  box-shadow: 0 0 0.3rem rgba(128, 0, 0, 0.8);
  background-color: inherit;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.portfolio-container {
  display: grid;
  gap: 1.2rem;
}

.portfolio-box {
  display: flex;
  position: relative;
  border-radius: 0.6rem;
  box-shadow: 0 0 0 0.6rem rgba(0, 0, 0, 0.01);
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5 ease;
}

.portfolio-box img:hover {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(30rem);
  transition: 0.5s ease;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, linen);
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  cursor: default;
  font-size: 1.8rem;
  color: black; /*TODO Ver se é essa cor mesmo 
                  - adaptar com a imagem*/
}

.portfolio-layer p {
  cursor: default;
  margin: 0.2rem 0 0.5rem;
  color: black;
}

.portfolio-layer a {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: rgb(94, 0, 0);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 1.1rem;
  color: #eceff4;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0.7rem;
  background-color: #26263989;
  box-shadow: 0 0 1rem black;
}

#ano_atual, .span-home {
  font-weight: bold;
  color:#00ffcc;
}

.social-media { 
  padding: 2rem 0rem 3rem 0; 
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);

  width: 6rem;
  height: 6rem;
  border-radius: 20%;
  margin: 1.3rem 0.4rem;
  transition: 0.5 ease;
}

.social-media a:hover {
  background-color: white;
  color: white;
  box-shadow: 0 0 1rem gray;
}

/* Menu Responsivo */

.menu-responsive {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: rgba(219, 225, 227);
  margin: 0.4rem 0;
  cursor: pointer;
  transition: transform 1s ease, opacity 0.2s ease;

}

.change .bar1 {
  transform: translate(0, 0.78rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.62rem) rotate(45deg);

}

.botao-flutuante {
  position: sticky;              
  left: 15px;                   
  bottom: 15px;  
  margin-bottom: 2rem;
  margin-left: .5rem;                           
  cursor: pointer;
  color: #eceff4;
  background-color: transparent;
  border-radius: 50%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 11px;
}


/* Media Queries - 5 Screens */

/* Mobile First */
/* Extra Small Screen - Smartphones (Portrait) */
@media (min-width: 0px) and (max-width: 575px) {
  .botao-flutuante{
    opacity: 0;
  }

  section{
    scroll-margin-top: 0;
  }

  .menu-responsive {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-responsive a {
    display: block;
    font-size: 180%;
    padding: 1.2rem;
    margin: 0.5rem 0;
  }

  section {
    padding: 6rem 2.5rem;
  }

  .home {
    flex-direction: column;
    gap: 1.2rem;
  }

  .home-img {
    width: 100%;
    max-width: 100%;
  }

  .home-content,
  .about-content {
    width: 100%;
  }

  .home-content div {
    text-align: center;
  }

  .home-content h1,
  .about-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
  }

  .experiences-container {
    flex-direction: column;
    align-items: center;
  }

  .experiences-box {
    width: 100%;
    height: auto;
  }

  .experiences-container:nth-child(2) .experiences-box img {
    width: auto;
  }

  footer p {
    font-size: 90%;
  }

  .experiences-box p {
    font-size: 95%;
  }
}

/* Small Screen - Smartphones (Landscape)- Part 1 */
@media (min-width: 576px) and (max-width: 692px) {
.botao-flutuante{
    opacity: 0;
  }

  .menu-responsive {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-responsive a {
    display: block;
    font-size: 180%;
    padding: 1.2rem;
    margin: 0.5rem 0;
  }

}
  
/* Small Screen - Smartphones (Landscape) - Part 2*/
@media (min-width: 692px) and (max-width: 767px) {
  .botao-flutuante{
    opacity: 0;
  }

  .nav-responsive a {
    display: block;
    font-size: 180%;
    padding: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .menu-responsive {
    display: block;
  }

  .nav {
    display: none;
  }

  .home-img {
    width: 50%;
    max-width: 50%;
    margin-left: 2rem;
  }

  .about-img {
    width: 50%;
    max-width: 50%;
    margin-right: 2rem;
  }

  .experiences-box {
    width: 100%;
  }

  .experiences-container {
    flex-direction: column;
    align-items: center;
  }

  .experiences-container:nth-child(2) .experiences-box img {
    width: auto;
  }
}

/* Medium - Tablet */
@media (min-width: 768px) and (max-width: 991px) {

  .nav-responsive a {
    display: block;
    font-size: 180%;
    padding: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .about-img {
    margin-right: 2rem;
  }

  .menu-responsive {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-responsive,
  .nav-responsive a {
    display: none;
  }

  .home,
  .about {
    flex-direction: row;
    justify-content: space-between;
  }

  .home-img,
  .about-img {
    max-width: 40%;
  }

  .home-content,
  .about-content {
    width: 50%;
  }

  .experiences-container {
    flex-direction: column;
    align-items: center;
  }

  .experiences-container:nth-child(2) .experiences-box img {
    width: auto;
  }

  .experiences-box {
    width: 100%;
    margin-bottom: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto;
  }
}

/* Large - Notebook */
@media (min-width: 992px) and (max-width: 1199px) {
  
  .home-img {
    margin-left: 2rem;
  }

  .about-img {
    margin-right: 2rem;
  }

  .experiences-container {
    flex-direction: row;
    gap: 1.2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto;
  }

  .experiences-container:nth-child(2) .experiences-box img {
    width: auto;
  }
}

/* Extra Large - Desktop */
@media (min-width: 1200px) {
  .home-img,
  .about-img {
    max-width: 100%;
  }

  .home-content h1 {
    font-size: 2.7rem;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .portfolio-container {
    grid-template-columns: auto auto auto;
    margin-top: .5rem;
  }

  .experiences-container:nth-child(2) .experiences-box img {
    width: auto;
  }
}
